.el-form-item__label{
  font-weight: bold;
  font-size: var(--f-m);
}



.el-form-item.is-btn-group{
  margin-bottom: 0;
}
.el-form-item.is-btn-group .el-form-item__content{
 justify-content: flex-end;
}

.el-form-item.is-btn-group.is-left .el-form-item__content{
  justify-content: flex-start;
  margin-left: 0!important;
 }