:root{
  --c-primary: var(--el-color-primary);
  --c-info: var(--el-color-info);
  --c-warning: var(--el-color-warning);
  --c-danger:  var(--el-color-danger);
  --c-success: var(--el-color-success);
}


.c-success{
  color: var(--c-success);
}
.c-warning{
  color: var(--c-warning);
}
.c-danger{
  color: var(--c-danger);
}
.c-primary{
  color: var(--c-primary);
}

